:root{
    --text-color: #343a40;
    --primary: #0EA5E9;
    --secondary: #E8E025;
    --tertiary: #E8253F;

}
*{
   padding: 0;
    margin:0;
}

body {
    font-family: proxima-nova, sans-serif;
    background-color: #f3f4f6;
    color: #343a40;
    width: 100%;
    margin: auto;
}
header{
    display: inline;
}
li{
    display: inline;
}

img{
    width: 200px;
}
section{
    background-color: white;
    border: solid 2px black;
    margin-top: 16px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
}
